@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    /* animation speeds */
    .animate-first { animation: moveVertical 30s ease infinite; }
    .animate-second { animation: moveInCircle 20s linear infinite; }
    .animate-third { animation: moveInCircle 40s linear infinite; }
    .animate-fourth { animation: moveHorizontal 40s ease infinite; }
    .animate-fifth { animation: moveInCircle 20s ease infinite; }
}

html, body {
    background: transparent !important;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Ethnocentric';
    src: url('./assets/fonts/EthnocentricReg.woff2') format('woff2'),
         url('./assets/fonts/EthnocentricRg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@keyframes moveVertical {
    0% { transform: translateY( 0%) }
    50% { transform: translateY(-10%) }
    100% { transform: translateY(0%) }
}

@keyframes moveHorizontal {
    0% { transform: translateX( 0%) }
    50% { transform: translateX(10%) }
    100% { transform: translateX(0%) }

}

@keyframes moveInCircle {
    0% { transform: rotate(0deg) translate(40px) rotate(0deg); }
    50% { transform: rotate(180deg) translate(40px) rotate(-180deg); }
    100% { transform: rotate(360deg) translate(40px) rotate(-360deg);  }
    
}


