html, body {
    background: transparent !important;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Ethnocentric';
    src: url('./assets/fonts/EthnocentricReg.woff2') format('woff2'),
         url('./assets/fonts/EthnocentricRg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@keyframes wave {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
}

.animate-wave {
    display: inline-block;
    animation: wave 1s ease-in-out;
    transform-origin: 70% 70%;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

